@import "main.css";

/* GLOBAL STYLES */

body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
}

/* Hero Section */

header{
    margin-bottom: 4rem;
}

#hero{
    background-color: var(--hero-bg);
    background-image: url(./assets/images/Union.svg);
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* max-height: 800px; */
}

/* Navigation */

.auth__nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.4rem 5%;
}

.auth_nav__links{
    display: flex;
}

.auth_nav__links li a{
    color: var(--white);
    margin: 0 2.5rem;
    font-weight: 500;
}

.auth_nav__links li a:active{
    padding-bottom: 0.3rem;
    border-bottom: 3px solid;
    border-color: var(--button-bg);
}

.button__container{
    display: flex;
    gap: 30px;
}

.nav__btn{
    color: var(--white);
    border: 1px solid;
    border-color: var(--button-bg);
    border-radius: 10px;
    padding: 0.8rem 3rem;
}

.login__btn{
    background: none;
    transition: all .3s;
}

.login__btn:hover{
    background-color: var(--button-hover);
}

.signup__btn{
    background: var(--button-bg);
    transition: all .3s;
}

.signup__btn:hover{
    background-color: var(--button-hover);
}

/* End of Navigation */

.hero__search{
    background: none;
    width: 32rem;
    max-width: 50%;
    margin: 0 auto;
}

.hero__search .form-control{
    color: var(--whiteash);
    padding-left: 0;
    background: none;
    border: 1px solid;
    border-left: 0;
    border-color: rgba(238, 238, 238, 0.75);;
}

.hero__search .input-group-text{
    background: none;
    border: 1px solid;
    border-right: 0;
    border-color: rgba(238, 238, 238, 0.75);;
}

#hero h1{
    margin: 1.5rem 10%;
    margin-top: 6rem;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--whiteash);
}

#hero #hero__subtitle{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: #CECECE;
    margin: 0 10%;
}

.hero__waitlist{
    /* width: 32rem; */
    max-width: 50%;
    margin: 2.6rem auto;
}

.hero__waitlist .form-control{
    padding: 0.7rem 1rem;
}

.hero__waitlist .input-group-text{
    color: var(--white);
    border: 0;
    background: var(--button-bg);
    padding: 0.7rem 2rem;
}

.hero__flex{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 8rem;
    gap: 80px;
}

.hero__flex__item h4{
    color: var(--white);
    padding-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
}

.hero__flex__item p{
    font-size: 1rem;
    font-weight: 300;
    color: var(--whiteash);
}

/* End of Hero Section */

/* Brands Section */

#brands{
    background: var(--whiteash);
    padding: 8rem 2rem;
    padding-bottom: 4rem;
}

.auth__title{
    margin: 0 10%;
    /* width: 60%; */
    position: relative;
    text-align: center;
}

.left__title__img{
    position: absolute;
    left: -480px;
    top: 14px;
    right: 0;
    bottom: 0;
}

.right__title__img{
    position: absolute;
    left: 0;
    top: 14px;
    right: -480px;
    bottom: 0;
}

.auth__title img{
    width: 5%;
}

.auth__title h3{
    color: var(--black);
    font-weight: 700;
    text-transform: capitalize;
}

.auth__title p{
    color: #5C5C5C;
    font-weight: 400;
}

.brand__images{
    padding: 2rem;
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.brand__images .brand__image{
    padding: 0 1rem;
    width: 15%;
}

/* End of Brands */

/* Why Us */

#why__us{
    /* max-width: 1220px; */
    background: var(--whiteash);
    padding: 2rem 0 2rem 3rem;
}

.why__wrapper{
    display: flex;
    justify-content: center;
    padding: 6rem 2rem;
}

.wrap2{
    padding-top: 2rem;
}

.why__container{
    position: relative;
    width: 20rem;
    padding: 2rem;
    padding-top: 4rem;
    background: var(--white);
    border-radius: 0px 0px 75px 0px;
}

.why__container span{
    position: absolute;
    left: 25px;
    right: 0;
    top: -38px;
    bottom: 0;
}