.navigation{    
 position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: var(--primary-color);
}

.navigation__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 2rem;
}


.navigation__left{
  display: flex;
  justify-content: space-between;
  gap: 12rem;
  align-items: center;
  cursor: pointer;
}

.navigation__left--links{
    display: flex;
    justify-content: space-between;
    gap: 7rem;
    margin-left: 5rem;


}

.navigation__left--links a{
    color: var(--grey-font);
    padding-bottom: 0.2rem;
}

.navigation__left--links a:hover{
    color: var(--white);
}
.navigation__left--links a.active{
    color: var(--white);
    border-bottom: 3px solid var(--button-bg);
}

.navigation__right button#login{
    
    background: none;
    
}

.navigation__right button#signup{
    margin-left: 2rem ;
    background-color: var(--button-bg);
    transition: all .2s ease;
}

.navigation__right button#signup:hover{
    background-color: var(--button-hover);
    border: 2px solid var(--button-hover);
}


.navigation__right__mobile{
    display: none;
}

.navigation__container__mobile--links,
.navigation__container__mobile--links--none{
    display: none;
}

/* media queries */

@media screen and (max-width: 1100px){
    .navigation__left--links,
    .navigation__right button#signup{
        display: none;
    }   

    .navigation__right button#login{
        padding: 1rem 3rem;
    }

    .navigation__right__mobile{
        display: block;
        color: var(--white);
    }

    .navigation__container__mobile--links{
        display: flex;
        flex-direction: column;
        
        transition: all 1s;
        justify-content: flex-start;
        align-items: stretch;
        /* animation: fadeIn linear 0.1s; */
        background-color: var(--primary-color);
        z-index: 99999;
        margin-top: 1.8rem;
        
    }

    .mobile--links{
        color: var(--white);
        margin: 1rem 1.5rem 1.5rem;
    }

    #login--mobile{
        display: none;
    }

    #signup--mobile{
      margin-left: 1.5rem;
      margin-bottom: 3rem;
    }

    .navigation__container__mobile--links--none{
        display: none;
    }
}


@media screen and (max-width: 1340px){
    .navigation__left--links{
        margin-left: 0;
    }
    .navigation__right button{
        padding: 1rem 1.5rem;
    }
}