@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

/* COLOR VARIABLES */
:root {  
  --white: #ffffff;
  --whiteash: #EEEEEE;
  --form-bg: #002235;
  --button-bg: #00334F;
  --button-hover: #55778A;
 
  --black: #050607;
  --black2: #050607;
  --danger: #E30000;
  --success: #13FE2B;
  --grey: #404246;
  
}

/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

/* GLOBAL STYLES */

body {
  font-family: 'Inter', sans-serif;
}


