#community__container{
     padding: 5rem 6rem;
    margin:10rem 1rem;
}
.block-1{
    text-align: center;
    margin: auto;
}

.block-1 h1{
    
    font-size: 3.5rem;
}
.block-1 h1, .resources h4{
    font-weight: 700;
    
}
.block-1 p{
    padding-top: 1.5rem;
}
.mid{
    display: flex;
    flex-direction: row;
    padding: 0 5%;
    justify-content: space-between;
    margin-top: 80px;
}
.left_texts{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 0 0 50px 0;
    width: 60%;
}
.left_texts-1{
    /* display: none; */
    flex-direction: column;
    gap: 35px;
    margin: 0 0 50px 0;
    width: 60%;
}

.left_texts-1 h2{
    margin-bottom: 2rem;
}
.blocks{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.left_texts.noDisplay{
    display: none;
}
.left_texts-1.display{
    display: flex;
}
.block-2 p, .block-3 p, .block-4 p{
    padding-top: 18px;
}
.block-5 h3, .block-6 h3, .block-7 h3, .block-8 h3, .block-9 h3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    cursor: pointer;
    font-size: 1.5rem;
}
/* .block-5 h3::after, .block-6 h3::after, .block-7 h3::after, .block-8 h3::after, .block-9 h3::after{
    content: url(../../assets/svgs/arrow-down.svg);
    display:inline-flex;
} */
.q1.dropped::after, .q2.dropped::after, .q3.dropped::after, .q4.dropped::after, .q5.dropped::after{
     content: url(../../assets/svgs/arrow-down.svg); 
    display:inline-flex;
    transform: rotate(180deg);
}
.block-5::after, .block-6::after, .block-7::after, .block-8::after{
    content: '';
    padding: 1.1px;
    margin-top: 25px;
    display: block;
    background-color: #55778a36;
}
.a1, .a2, .a3, .a4, .a5{
    visibility: hidden;
    height: 0;
    padding: 0;
    top: -100000px;
    transition: all 0.4s ease-out;
}
.a1.reveal, .a2.reveal, .a3.reveal, .a4.reveal, .a5.reveal{
    visibility: visible;
    height: unset;
    padding-top: 13px;
}

.right{
    width: 30%;
}
.right-block{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.resources{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding-top: 20px;
}
.resources h4{
    font-size: 17px;
}
.resources p{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    text-align: left;
    color:  #5C5C5C;
    cursor: pointer;
}

.resources p::before{
    content: url(../../assets/svgs/boxed-arrow-light.svg); 
    padding-right: 12px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.community.active, .faq.active{
    color: var(--button-bg);
}
.community.active::before, .faq.active::before{
     content: url(../../assets/svgs/boxed-arrow-dark.svg); 
    padding-right: 12px;
    display: inline-flex;
    align-items: center;
}
.right-block::before{
    content: '';
    padding: 1.2px;
    margin-top: 7px;
    display: inline-flex;
    margin-right: 7px;
    background-color: #55778a36;
}

.login__btn{
    transition: all .3s;
}

.nav__btn:hover{
    background-color: var(--button-hover);
}

@media screen and (max-width:1350px){
    #community__container{
        padding: 2rem;
    }
}

@media screen and (max-width:900px){
    #community__container{
        padding: 3rem 1.5rem;
    }
}
@media screen and (max-width:700px){
    .mid{
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 20px;
    }
    .right{
        width: 100%;
    }
    .right-block::before{
        display:none;
    }
    .right-block{
        margin:auto;
        width:inherit;
        text-align: center;
    }
    .resources{
        width:inherit;
    }
    .resources a{
        padding-left: 8%;
        text-align: left;
    }
    .resources h4{
        font-size: 25px;
        margin: auto;
        padding-bottom: 15px;
    }
    .left_texts{
        width: 100%;
        margin:50px 0;
    }
    .left_texts-1{
        width: 100%;
        margin:50px 0;
    }
}