
/* HERO section */
.landingpage{
    
}

.hero_section{
    background-color: var(--hero-bg);
    background-image: url(../../assets/svgs/Union.svg);
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--primary-color);
    height: 100vh;
    text-align: center;
    padding-top: 7rem;
}

.form_search{
    position: relative;
    display: flex;
    align-items: center;
    width: 500px;
    max-width: 100%;
    height: 2.5rem;
    margin: 4rem auto 0;
   padding: 0.8rem;
   border-radius: 5px;
   border: 1px solid var(--grey-font);
}

.form_search input{
    flex: 1;
    height: 2rem;
    margin-left: 0.3rem;
    color: var(--grey-font);
}

.hero_section h1{
    color: #eee;
    font-size: 3.5rem;
    font-weight: 700;
}

.hero_section .spark{
    position: relative;
    top: 70px;
    left: 450px;
}
.hero_section p{
    color: var(--grey-font);
    font-weight: 400;
    font-size: 1.2rem;
}

.form_email{
    background-color: var(--white);
    width: 800px;
    max-width: 100%;
    height: 3.2rem;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    padding-left: 1rem;
}

.form_email input{
    
    flex: 1;
}

.form_email button{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.traffic__container{
    margin-top: 9rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
    font-size: 1rem;
    align-items: center;
   
}

.traffic__item:nth-child(2){
    border-left: 1px solid var(--grey-font);
    border-right: 1px solid var(--grey-font);
    padding: 0 5rem;
}
.traffic__item span{
    font-weight: 700;
    color: var(--white);    
}

.traffic__item p{
    text-transform: uppercase;
    margin-top: 1.5rem;
}

/* END OF HERO SECTION */

#brands{
    background: var(--whiteash);
    padding: 6rem 2rem;
    padding-bottom: 4rem;
}

.auth__title{
    margin: 0 10%;
    /* width: 60%; */
    position: relative;
    text-align: center;
}

.left__title__img{
    position: absolute;
    left: -550px;
    top: 20px;
    right: 0;
    bottom: 0;
}

.right__title__img{
    position: absolute;
    left: 0;
    top: 20px;
    right: -550px;
    bottom: 0;
}

.auth__title img{
    width: 5%;
}

.auth__title h3{
    color: var(--black);
    font-weight: 700;
    text-transform: capitalize;
    font-size: 2rem;
}

.auth__title p{
    color: #5C5C5C;
    font-weight: 400;
}

#brands{
    padding: 7rem 6rem;
}
.brand__images{
    padding: 2rem;
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.brand__images .brand__image{
    padding: 0 1rem;
    width: 15%;
}

/* End of Brands */

/* Why Us */

.black__bg{
    background: var(--hero-bg);
}

#why__us{
    /* max-width: 1220px; */
    background: var(--whiteash);
   padding: 7rem 6rem;
    border-radius: 0 0 60px 0;
}

.why__title__img{
    position: absolute;
    top: -45px;
    left: 0;
    right: -430px;
    bottom: 0;
}

.why__wrapper{
    display: flex;
    justify-content: center;
    padding: 6rem 2rem;
}



.why__container{
    position: relative;
    width: 25rem;
    padding: 2rem;
    padding-top: 4rem;
    background: var(--white);
    border: 1px solid rgba(170, 187, 196, 1);
    border-radius: 0px 0px 75px 0px;
}

.why__container h5{
    font-weight: 600;
    margin-bottom: 0.3rem;
    font-size: 1.25rem;
}

.why__container span{
    position: absolute;
    left: 25px;
    right: 0;
    top: -38px;
    bottom: 0;
}

.why__container p{
    line-height: 30px;
}

/* End of Why Us */

/* Beginning of auth codes */

 
#auth__codes{
    background: var(--primary-color);
    padding: 2rem;
    padding-bottom: 6rem;
    border-radius: 150px 0px;
}

.atc__2{
    padding: 3rem 0;
}

.atc__2 .atc__title{
    color: var(--whiteash);
    margin-top: 2rem;
}

.atc__2 #atc__p{
    margin: 0 25%;
}

.atc__icons{
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 2rem 0;
    display: flex;
}

.atc__icons #ath__file{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #135246;
}

.atc__icons #ath__fire{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #834E00;
}

.atc__icons #ath__comment{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #B81E36;
}

.atc__2 .authcode__img{
    width: 50%;
    margin-right: 0.5rem;
}

#authreadme__img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* padding: 2rem; */
}

#authreadme__img img{
    margin: 0 auto;
    width: 80%;
}

.atc__nav{
    display: flex;
    padding: 1rem 0;
}

.atc__lang{
    padding: 4rem;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#atc__arr_btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#atc__arr_btn img{
    width: 40%;
}

#atc__arr_btn button{
    background: transparent;
    padding: 1rem 1.5rem;
}
.ath__waitlist{
    padding-top: 1rem;
}

.ath__waitlist .input-group-text{
    color: var(--white);
     background: var(--button-bg);
     border: 0;
     padding: 0.7rem 3rem;
}

/* End of Auth Codes */       





/* Newsletter */

#newsletter{
    background-color: var(--whiteash);
    padding: 6rem;
    border-radius: 40px 0 0 0;
}

#auth__productivity{
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
    /* margin-bottom: 3rem; */
}

#auth__productivity p{
    font-size: 1.2rem;
    font-weight: 500;
    color: #343434;
}

#auth__productivity h2{
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 2rem;
}

#auth__productivity h2 span{
    color: var(--button-bg);
}

.ath__subscribe{
    margin: 4rem auto;
    padding: 2rem; 
    background-image: url(../../assets/images/Rectangle27.png);
   
    /* background-image: url(../assets/images/Frame\ 180.svg); */
    border-radius: 8px;
    width: 70%;
}

/* .ath__subscribe .atc__2 .hero__waitlist{
    
} */

/* End of Newsletter */

