footer{
    background: var(--hero-bg);
    padding: 2% 3%;
}

.footer__flex{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.footer__about{
    flex: 33%;
    margin: 3rem;
}

.footer__about h5{
    color: var(--whiteash);
}

.footer__about p{
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: #858585;
}

.footer__about .auth__logo{
    margin-bottom: 1.8rem;
}

.footer__about form{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.footer__about form input{
    width: 100%;
    padding: 0.5rem;
    margin: 0.2rem;
    margin-left: 0;
    border: 0;
    border-radius: 4px;
}

.footer__about form textarea{
    border: 0;
    width: 100%;
    padding: 0.5rem;
    margin: 0.2rem;
    margin-left: 0;
    border-radius: 4px;
}

.footer__about form button{
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
    margin-left: 0;
    border-radius: 4px;
    color: var(--white);
    background: var(--button-bg);
}

.foot__icon{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem 0;
}

.foot__icon span{
    font-size: 0.8rem;
    color: #E3EBFD;
}

.foot__icon img{
    width: 15%;
    margin-right: 0.8rem;
}

.footer__social img{
    width: 15%;
    margin: 0.5rem;
    margin-left: 0;
}

.footer__links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__links ul{
    display: flex;
}

.footer__links ul li a{
    color: #858585;
    padding: 0.6em;
}

.footer__links p{
    color: #858585;
}