.detaileddoc__container{
    padding: 0 10rem;
    margin:10rem 3rem;
   
    
}
a{
    color: var(--primary-color);
}
.top{
        text-align: center;
        margin-bottom: 5rem;
    }
.top > p{
    margin-top: 2rem;
}

.detaileddoc__wrapper{
    
    display: flex;
}

.left__block{
 flex-grow: 1;
 padding-right: 5rem;
}


.download{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

.download h1{
    font-weight: 700;
    font-size: 3rem;
}

.download__links{
    margin-top: 3rem;
    display: flex;
    gap: 5rem;
}

.download__links >*{
   padding: 0.2rem 1rem;
   font-size: 0.9rem;
   font-weight: 500;
   border: 2px solid rgba(0, 51, 79, 1);
   border-radius: 6px;
   display: flex;
   justify-content: center;
   gap: 5px;
   align-items: center;
}

#share{
    gap: 2rem;
    margin-top: 4rem;
    margin-left: 0;
}

#share a{
padding: 0.5rem 1rem; 
font-size: 0.8rem;
}


/* comments */
.comment__form{
    margin-top: 1rem;
    margin-left: 0px;
    width: 100%;
}
.comment__form h1{
    font-weight: 700;
}
.comment__form .area{
    display: flex;
    flex-direction: column;
    align-items: center;
     width: 100%;
    margin-bottom: 2rem;
}
.comment__form textarea{
    width: 100%;
    outline: none;
    border-radius: 6px;
    border: 1px solid rgba(0, 51, 79, 1);
    padding: 1rem;
}
.comment__form button{
   align-self: flex-end;
   margin-top: 1rem;
   border-radius: 6px;
}

/* comment */
.comment{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.comment strong{
    font-size: 1.2rem;
}

.comment small{
    font-size: 0.7rem;
}

.comment .message{
    font-weight: 500;
}

.comment .reactions > img{
    width: 24px;
    height: 24px;
    margin-right: 3rem;
    cursor: pointer;
}

.right__block{
    position: sticky;
    top: 100px;
   width: 1000px;
   height: max-content;
   padding-left: 6px;
   padding-bottom: 2rem;
   border-left: 2px solid rgba(204, 214, 220, 1);
  
}

.code__wrapper{
     display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: stretch;
}

.codeblock__component,
.code__wrapper a{
    font-size: 1rem;
    margin-top: 0.1rem;
    margin-bottom: 2rem;
    color: rgba(92, 92, 92, 1);

}

.codeblock__component:hover,
.code__wrapper a:hover{
    color: var(--primary-color);
}

