.landingpage{
    width: 100%;
}

/* HERO section */
.hero_section{
    background-color: var(--hero-bg);
    background-image: url(../../assets/svgs/Union.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 900px;
    background-color: var(--primary-color);
    text-align: center;
    padding-top: 7rem;
}

.form_search{
    position: relative;
    display: flex;
    align-items: center;
    width: 85%;
    max-width: 500px;
    height: 2.5rem;
    margin: 4rem auto 0;
    padding: 0.8rem;
    border-radius: 5px;
    border: 1px solid var(--grey-font);
}

.form_search input{
    flex: 1;
    height: 2rem;
    margin-left: 0.3rem;
    color: var(--grey-font);
    font-size: 1rem;
}

.form_search input::placeholder{
    font-size: 1rem;
}

.hero_section h1{
    color: #eee;
    padding: 0 6%;
    font-size: 45.6px;
    font-weight: 700;
    margin-top:70px ;
}

.hero_section h1 span{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero_section h1 span::after{
    content: url('../../assets/images/auth-eclipse.png');
    display: inline-flex;
    z-index: 1;
    margin-left: 80%;
    transform: scale(.6);
    position: absolute;
}

.hero_section p{
    color: var(--grey-font);
    font-weight: 400;
    margin-top: 30px;
    font-size: 1rem;
    margin: 30px auto 0 auto;
}

.hero_section .intro_text{
    width: 700px;
}

.form_email{
    background-color: var(--white);
    max-width: 800px;
    width: 90%;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    padding-left: 1rem;
}

.form_email input{
    width: 65%;
    font-size: 1rem;
}

.form_email input::placeholder{
    font-size: 1rem;
}

.form_email button{
    width: 35%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 0.8rem 0;
    font-size: 1rem;
}

.traffic__container{
    width: 100%;
    padding: 0 5% 30px 5%;
    margin: 9rem auto 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.traffic__item:nth-child(2){
    border-left: 1px solid var(--grey-font);
    border-right: 1px solid var(--grey-font);
    padding: 0 5%;
}
.traffic__item span{
    font-weight: 700;
    font-size: 1rem;
    color: var(--white);    
}

.traffic__item p{
    text-transform: uppercase;
    margin-top: 1.5rem;
    font-size: 1rem;
}

/* END OF HERO SECTION */

#brands{
    background: var(--whiteash);
    padding: 6rem 2rem;
    padding-bottom: 4rem;
    margin: auto;
}

.auth__title{
    margin: 0 10%;
    /* width: 60%; */
    position: relative;
    text-align: center;
}

.left__title__img{
    position: absolute;
    left: -420px;
    right: 0;
    bottom: 0;
}

.right__title__img{
    position: absolute;
    left: 0;
    right: -420px;
    bottom: 0;
}

.auth__title img{
    width: 5%;
}

.auth__title h3{
    color: var(--black);
    font-weight: 700;
    text-transform: capitalize;
    font-size: 29px;
}

.auth__title p{
    color: #5C5C5C;
    font-weight: 400;
    font-size: 1rem;
}

.brand__images{
    padding: 2rem;
    padding-top: 2.6rem;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.brand__images .brand__image{
    padding: 0 1rem;
    width: 170px;
}

@media screen and (max-width:800px) {
    .brand__images .brand__image{
        width: 140px;
    }
}

/* End of Brands */

/* Why Us */

.black__bg{
    background: var(--hero-bg);
}

#why__us{
    padding-top: 60px;
    background: var(--whiteash);
    border-radius: 0 0 60px 0;
}

.auth__title p{
    font-size: 1rem;
}

.why__title__img{
    position: absolute;
    top: -45px;
    left: 0;
    right: -430px;
    bottom: 0;
}

.why__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    align-items: flex-start;
    margin-top: 80px;
    padding: 0 3.7% 180px 3.7%;
}

.why__container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.why__container div{
    padding: 5%;
    position: relative;
    background: var(--white);
    border: 1px solid rgba(170, 187, 196, 1);
    border-radius: 0px 0px 75px 0px;
    height: 280px;;
}

.why__container:nth-child(1)::after, .why__container:nth-child(2)::after{
    content: url(../../assets/svgs/hrArrow.svg);
    display: inline-flex;
    
}

.why__container h5{
    font-weight: 600;
    margin-bottom: 0.3rem;
    font-size: 1.25rem;
    padding-top: 30px;
}

.why__container span{
    position: absolute;
    left: 5%;
    right: 0;
    top: -38px;
    bottom: 0;
}

.why__container span img{
    width: 70px;
}

.why__container p{
    line-height: 30px;
    font-size: 1rem;
}

/* End of Why Us */

/* Beginning of auth codes */

 
#auth__codes{
    background: var(--primary-color);
    padding-bottom: 6rem;
    border-radius: 150px 0px;
}

.atc__2{
    padding: 3rem 0;
}

.atc__2 .atc__title{
    color: var(--whiteash);
    margin-top: 2rem;
}

.atc__2 #atc__p{
    margin: auto;
    max-width: 600px;
    font-size: 1rem;
}

.atc__icons{
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 2rem 0;
    display: flex;
}

.atc__icons #ath__file{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #135246;
}

.atc__icons #ath__fire{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #834E00;
}

.atc__icons #ath__comment{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #B81E36;
}

.atc__2 .authcode__img{
    width: 50%;
    margin-right: 0.5rem;
}

#authreadme__img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 5%;
}

#authreadme__img img{
    margin: 0 auto;
    width: 100%;
}

.atc__nav{
    display: flex;
    padding: 1rem 0;
}

.atc__lang{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#authreadme__img .authcode_img{
    width: 100%;
    margin: auto;
}

#atc__arr_btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
}

#atc__arr_btn img{
    width: 40%;
}

#atc__arr_btn button{
    background: transparent;
    padding: 1rem 1.5rem;
    font-size: 1rem;
}
.ath__waitlist{
    padding-top: 1rem;
    padding-bottom: 1.8rem;
    width: 100%;
    margin: auto;
    max-width: 650px;
}

.form-control::placeholder{
    font-size: 1rem;
}

.form-control{
    width: 70%;
}

.ath__waitlist .input-group-text{
    color: var(--white);
    background: var(--button-bg);
    border: 0;
    width: 30%;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding: 0.7rem 0;
}

/* End of Auth Codes */       





/* Newsletter */

#newsletter{
    background-color: var(--whiteash);
    padding: 100px 6%;
    border-radius: 40px 0 0 0;
}

#auth__productivity{
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
}

#auth__productivity p{
    font-size: 1rem;
    font-weight: 500;
    color: #343434;
}

#auth__productivity h2{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1em;
    padding-bottom: 2rem;
}

#auth__productivity h2 span{
    color: var(--button-bg);
}

.ath__subscribe{
    margin: 4rem auto; 
    border-radius: 8px 8px 0 0;
    width: 100%;
    max-width: 1000px;
    position: relative;
    background-color: #000A10;
}

.ath__subscribe::before{
    content: '';
    display: block;
    width: 50.22%;
    height: 26%;
    position: absolute;
    transform: skew(0, 8deg);
	background-color: #000A10;
    margin: auto;
    bottom: 0;
    top: 100%;
}

.ath__subscribe::after{
    content: '';
    display: block;
    width: 49.95%;
    height: 26%;
    position: absolute;
    transform: skew(0, -8deg);
	background-color: #000A10;
    margin: auto;
    bottom: 0;
    right: 0;
    top: 100%;
}

.signup__btn{
    font-size: 1rem;
}


/* End of Newsletter */
@media screen and (max-width:1000px) {
    .why__wrapper{
        flex-direction: column;
        gap: 37px;
        padding: 50px 0 250px 0;
    }
    .why__container{
        width: 70%;
        max-width: 500px;
        margin: auto;
        flex-direction: column;
    }
    .why__container div{
        padding: 0 5%;
        height: 100%;
    }
    .why__container:nth-child(1)::after, .why__container:nth-child(2)::after{
        transform: rotate(90deg);
        display:block;
        margin: 60px 0 20px 0;
    }
}

@media screen and (max-width:830px) {
    .hero_section .intro_text{
        width: unset;
        padding: 0 6%;
    }
    .hero_section h1 span::after{
        transform: scale(.5);
    }
    .hero_section h1{
        font-size: 32px;
    }
}

@media screen and (max-width:700px) {
    .hero_section{
        background-size: 800px;
        background-position: right 0px;
    }
    .brand__images{
        flex-direction: column;
        gap: 80px;
    }
    .brand__images .brand__image{
        width: 200px;
    }
    html, body{
        font-size: 14px;
    }
    .why__wrapper{
        flex-direction: column;
        gap: 37px;
        padding: 50px 0 250px 0;
    }
    .why__container{
        width: 70%;
        max-width: 400px;
        margin: auto;
        flex-direction: column;
    }
    .why__container div{
        padding: 0 5%;
        height: 100%;
    }
    .why__container:nth-child(1)::after, .why__container:nth-child(2)::after{
        transform: rotate(90deg);
        display:block;
        margin: 60px 0 20px 0;
    }
}

@media screen and (max-width:500px){

}