

.auth__container {
  background-image: url(../../assets/images/ellipse.png);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-color: var(--whiteash);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth__container.register {
  background-position: 100% -10%;
}

.auth__container--left {
  background-image: url(../../assets/images/logo-auth.png);
  background-repeat: no-repeat;
  background-position: 5% 20px;
  background-size: 119px 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--form-bg);
  width: 50%;
  height: 100%;
  max-height: 100vh;
  overflow-y: hidden;
}

.auth__container--left img{
  width: 100%;
}

.auth__container--right {
  padding-top: 2rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 6%;
  height: 100%;
}

h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: var(--black2);
  line-height: 2rem;
  margin-bottom: 0.5rem; 
}

p {
  font-size: 1.2rem;
  color: var(--grey);
  line-height: 29.05px;
}

form {
  width: 37vw;
  margin: auto;
}

form label {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.7rem;
  line-height: 24px;
}

form .inputControl input {
  color: #404246;
  height: 2.7rem;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  border: 1px solid #66686b;
  border-radius: 8px;
  outline: none;
  position: relative;
  background-color: var(--white);
}

form .inputControl input::placeholder {
  color: #404246;
  font-weight: 500;
  line-height: 24px;
}

form .inputControl {
  margin-top: 0.7rem;
}

.terms__and__conditions {
  display: flex;
  justify-content: flex-start;
  gap: 5px;

  margin-top: 1rem;

}

.terms__and__conditions a {
  text-transform: uppercase;
  color: var(--button-bg);
}

.buttons__row {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.buttons__row .or {
  align-self: center;
  padding: 0.2rem 0;
}

.buttons__row>small {
  text-align: center;
  font-size: 13px;
  margin-top: 2rem;
}

.buttons__row>small>a {
  color: var(--button-bg);
  text-decoration: underline;
}

.buttons__row button {
  height: 2.7rem;
  color: white;
  border-radius: 5px;
  outline: none;
  background-color: var(--button-bg);
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.7 0;
  transition: all 0.2s ease;
}

.buttons__row button:hover {
  background-color: var(--button-hover);
}

.buttons__row #google {
  background-color: transparent;
  border: 1px solid var(--button-bg);
  color: var(--black2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.buttons__row #pwd {
  height: 2.7rem;
  color: var(--button-bg);
  border-radius: 5px;
  outline: none;
  background-color: var(--whiteash);
  border: 1px solid var(--button-bg);
  font-size: 1rem;
  cursor: pointer;
  padding: 0.7 0;
  transition: all 0.2s ease;
}

.buttons__row #pwd a{
  color: var(--black2);
}

.buttons__row #pwd:hover {
  background-color: var(--);
}

.inputControl input:focus {
  outline: 0;
}

/* ERROR AND SUCCESS CLASSES */

.inputControl.success input {
  border-color: var(--success);
}

.inputControl.error input {
  border-color: var(--danger);
}

.inputControl .error{
  color: var(--danger);
  font-size: 11px;
  height: 13px;
}

#signup__button,
.login__button{
  display: flex;
  justify-content: center;
  align-items: center;
}

#signup__button:disabled{
  background-color: var(--button-hover);
  cursor: not-allowed;
}

#error, #error-2{
  visibility: hidden;
}

.error__container{
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  align-items: center;
}
.err{
  display: flex;
  justify-content: space-between;
  gap: 1px;
}
.exclamation{
  width: 14px;
  visibility: hidden;
}

.exclamation.show{
  visibility: visible;
}

.input{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.error{
  font-size: 0.7rem;
  color: red;
}

.loading__state{
  display: block;
  font-weight: 500;
}

.password-toogle-icon {
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 1000;
    cursor: pointer;
}


.forgotPassword{
  float :right;
}

.forgotPassword a{
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.forgotPassword a:hover{
  text-decoration: underline;
}

@media screen and  (max-width:700px) {
  .auth__container--left{
    display: none;
  }
  .auth__container--right{
    width: 100%;
    padding: 0 6%;
  }
  form{
    width: 70vw;
    margin: auto; 
  }
  form .inputControl input, form .inputControl .input input{
    width: 100%;
  }
  h2{
    color: var(--button-bg);
  }
  .buttons__row button{
    font-size: 1.1rem;
  }
  .buttons__row #google {
    color:var(--button-bg);
    width: 100%;
    margin: auto;
  }
  .buttons__row #reset{
    margin-top: 100px;
  }
  #control{
    margin-top: 50px;
  }
}
@media  (max-width:550px) {
  form{
    width:85vw;
  }
  
}